@using SSO.Core.Models

@model List<Access>
@{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Name </td>
            <td>@item.Endpoint </td>
            <td>@item.EndpointType</td>
            <td><a onclick="deletefromAccess(@item.Id)"><span class="fa fa-remove" style="color:red;"></span></a></td>
        </tr>
    }
}